<% content_for :title, 'Edit Case' %>
<% content_for :sidebar do %>
    <ul>
      <li><%= link_to '<i class="fa fa-floppy-o"></i> save'.html_safe, '#', :onclick=>"$('.edit_case').submit()" %></li>
      <li><%= link_to '<i class="fa fa-undo"></i> cancel'.html_safe, cases_path %></li>
      <li><%= link_to '<i class="fa fa-trash"></i> delete case'.html_safe, @case, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
<% end %>

<%= render 'form' %>