<% content_for :title, 'Cases' %>
<% content_for :sidebar do %>
    <ul>
      <li><%= link_to '<i class="fa fa-plus"></i> add new case'.html_safe, new_case_path %></li>
      <li><%= link_to '<i class="fa fa-tachometer"></i> dashboard'.html_safe, root_path %></li>
    </ul>
<% end %>

<ul>
  <% @cases.each do |cs| %>
      <li><%= link_to "<i class='fa fa-caret-down'></i> #{cs.name}".html_safe, edit_case_path(cs) %></li>
  <% end %>
</ul>